.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.book {
  text-align: center;
}

img {
  width: 300px;
  height: 400px;
}
